{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md-6 offset-md-3 p-5">
    <div class="text-center mb-4">
      <h1>Change your password</h1>
    </div>
    <div class="bg-light p-4 rounded">
      <p>Use the form below to change your password.</p>
      <form method="post" class="form">
      {{ form|crispy }}
      <div>
        <input type="submit" value="Change" class="btn btn-primary">
        <a href="{% url 'account:dashboard' %}" class="btn btn-secondary">Cancel</a>
      </div>
      {% csrf_token %}
      </form>
    </div>
  </div>
</div>
{% endblock %}