{% extends "base.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 pt-5 rounded">
  <div class="card col-md-6 offset-md-3 border rounded shadow-lg mb-5 bg-body">
    <div class="text-center card-body bg-warning mb-3">
      <h1>Hello, <br>Create your account</h1>
    </div>
    <div class="form-section p-4">
      <h2>Verify your account</h2>
      <form method="post">
        {% csrf_token %}
        <p>We have sent the verification code to {{ email }}</p>
        <div class="row">
          <div class="col">
            <input type="text" id="code1" maxlength="1" class="form-control otp" required>
          </div>
          <div class="col">
            <input type="text" id="code2" maxlength="1" class="form-control otp" required>
          </div>
          <div class="col">
            <input type="text" id="code3" maxlength="1" class="form-control otp" required>
          </div>
          <div class="col">
            <input type="text" id="code4" maxlength="1" class="form-control otp" required>
          </div>
          <input type="text" name="code" id="code" hidden>
          <div class="col text-center">
            <button type="submit" class="btn btn-warning" id="verify-btn">Verify</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}